<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <div class="p-4" *ngFor="let image of imageList; let i=index">
    <div *ngIf="i==0">
      <a routerLink="/image/upload" class="flex flex-col items-center justify-center h-full">
        <img src="/assets/new_image.jpg" class="w-full h-auto object-cover mb-2 rounded-lg">
        <span class="text-lg font-bold">Insert New Image</span>
      </a>
    </div> 
    <div *ngIf="i!=0">
      <img [src]="image.imageUrl" class="w-full h-auto object-cover rounded-lg mb-2">
      <span class="block text-lg font-bold">{{image.title}}</span>
      <span class="block text-gray-500">{{image.desc}}</span>
    </div>
  </div>
</div>
